<div class="l2-container">
  <!-- <nav class="l2-nav">
		<div class="l2-nav-items">
			<p class="l2-nav-item">Logo</p>
			<p class="l2-nav-item">About Us</p>
			<p class="l2-nav-item">Products</p>
			<p class="l2-nav-item">Location</p>
			<p class="l2-nav-item">Contact</p>
		</div>
	</nav>
	<main>
		<div id="l2-banner">
			<div class="l2-banner-image">
				<h1>Explore</h1>

			</div>
		</div>
	</main> -->
  <section id="mountains">
    <%= image_tag 'landing2/l2-back.png', id:"l2-back" %>
    <%= image_tag 'landing2/l2-back-mid.png', id:"l2-back-mid" %>
    <%= image_tag 'landing2/l2-mid.png', id:"l2-middle" %>
    <%= image_tag 'landing2/l2-mid-front.png', id:"l2-mid-front" %>
    <h1 id="scroll">Scroll</h1>
    <%= image_tag 'landing2/l2-front.png', id:"l2-front" %>
  </section>
  <section id="clouds">
    <%= image_tag 'sky.png', id:"l3-back" %>
    <%= image_tag 'cloud2.png', id:"l3-cloud2" %>
    <%= image_tag 'cloud1.png', id:"l3-cloud1" %>
    <%= image_tag 'front.png', id:"l3-front" %>
  </section>
  <%= link_to 'source', 'https://www.fiverr.com/dazzy_daze/create-anime-background-style' %>
  <script type="text/javascript">
    let bg2 = document.getElementById("l2-back");
        let bm2 = document.getElementById("l2-back-mid");
        let mg2 = document.getElementById("l2-middle");
        let mf2 = document.getElementById("l2-mid-front");
        let fg2 = document.getElementById("l2-front");
    
        let bg3 = document.getElementById("l3-back");
    		let bm3 = document.getElementById("l3-cloud2");
        let mf3 = document.getElementById("l3-cloud1");
        let fg3 = document.getElementById("l3-front");
    
        	window.addEventListener('scroll', function(){
        		var value = window.scrollY;
    				console.log(bm2.height);
    
    		bg2.style.top = value * 0.7 + 'px';
        		bm2.style.top = value * 0.55 + 'px';
        		mg2.style.top = value * 0.4 + 'px';
        		mf2.style.top = value * 0.25 + 'px';
    
        		bg3.style.top = value * 0.9 - 700 + 'px';
    				bm3.style.top = value * 0.7 - 550 + 'px';
        		mf3.style.top = value * 0.38 - 280 + 'px';
    
    
    
        	})
  </script>
</div>
